<form name="createUserForm" novalidate
      ng-submit="createUser(createUserForm.$valid)">
  <div ng-hide="showme" class="form-group" ng-messages="createUserForm.email.$error">
    <label>Email</label>
    <input name="email" type="text" class="form-control" ng-model="user.email" required email/>

    <div ng-messages-include="app/components/errors/errors.html" class="errors"></div>
  </div>
  <div ng-hide="showme" class="form-group">
    <button fade-in type="submit" class="btn btn-primary">Sign Up</button>
  </div>

  <div ng-show="showme" class="tetrominos">
    <div class="tetromino box1"></div>
    <div class="tetromino box2"></div>
    <div class="tetromino box3"></div>
    <div class="tetromino box4"></div>
  </div>
</form>

