<form name="resetForm" novalidate
      ng-submit="resetPassword(resetForm.$valid)">
  <div class="form-group" ng-messages="resetForm.email.$error">
    <label>Email</label>
    <input type="text" name="email" class="form-control" ng-model="user.email" required email/>

    <div ng-messages-include="app/components/errors/errors.html" class="errors"></div>
  </div>
  <div class="form-group" ng-messages="resetForm.password.$error">
    <label for="password">Password</label>
    <input id="password" type="password" name="password" class="form-control" ng-model="user.password" required/>

    <div ng-messages-include="app/components/errors/errors.html" class="errors"></div>
  </div>
  <div class="form-group">
    <button fade-in type="submit" class="btn btn-primary">Reset Password</button>
  </div>
</form>

